/.idea
/.nyc_output
/.vscode
/coverage
/dist
/dist-test
/docs
/lib-test
/not-ported-extensions
/src
/test
/transpiled-code
/typings
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
karma.conf.js
tsconfig.json
tsconfig.test.json
tslint.json
tslint.test.json
webpack.config.js
yarn.lock
.editorconfig
.gitignore
.istanbul.yml
.npmignore
.prettierrc
.publishrc
.travis.yml