/coverage
/docs
/lib/test
/not-ported-extensions
/src
/test
/typings
CONTRIBUTING.md
bower.json
karma.conf.js
tsconfig.json
tsfmt.json
tslint.json
typings.json
webpack.config.js
.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc
.gitignore
.istanbul.yml
.npmignore
.publishrc
.travis.yml
.vscode
